div{
    border: red solid 1px;
    font-size: 18px;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    text-align: center;
}
p{
    border: blue solid 1px;
    background: darkgrey;
}

table{
    border: solid 1px black;
    border-collapse: collapse;
}

th,td{
    border: solid 1px black;
}

#id001,.class1{
    list-style: none;
}